

# ### Obsidian ###
# # config dir
# # versions since 1.0 use workspace.json instead


# # exclude workspace cache

# .obsidian/workspace

# # versions since 1.0 use workspace.json instead
# .obsidian/workspace.json
